extends layout
append head
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Michroma|Overpass+Mono|Philosopher|Saira+Condensed|Open+Sans:700')
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/index.js')
block content
  .container
    h1  Places
    form#searchForm(action='/' method='post')
      input#search-box(type='search', name='location', placeholder='Enter your location', results='5', autosave='some_unique_value')
      button#search(type='submit', form="searchForm") Search
  if data
    each place in data
      a(href=place.url) 
        .result-container
          .row
            if place.picture
              .col-md-2
                .picture-container
                  img(src=place.picture , alt=place.name)
            .col-md-6
              .content-container
                h3= place.name
                if description
                  p #{place.description}
                if place.rating
                  p Rating: #{place.rating}
                if place.phone
                  p Phone: #{place.phone}
            .col-md-4
              h3 RSVP
              h2 COUNT #{place.count}
              button.btn.btn-md.btn-info Going
              button.btn.btn-md.btn-info Not Goin



   


  